# Dependencies
node_modules/
dist/
.npm

# Environment Variables (IMPORTANT: Never upload your actual .env)
.env
*.local

# Playwright / Browsers
test-results/
playwright-report/
blob-report/
playwright/.cache/
ms-playwright/

# Logs & Debug
npm-debug.log*
yarn-error.log*
.logs/
*.log

# OS Metadata
.DS_Store
Thumbs.db
